<% provide(:title, t("users.index.title")) %>
<h1><%= t("users.index.title") %></h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
      <% if logged_in? && current_user.admin? && !current_user?(user) %>
        <%= link_to t("users.index.delete"), user, data: { turbo_method: :delete, turbo_confirm: t("common.confirm_delete") } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>